body {
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #101f77 50%, #ffffff 50%);
    
  }
  .wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
     box-shadow:  0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 3px 8px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #93a0ee ;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
   
  }
  .carousel .card .img {
    background: #6d5a92;
    height: 148px;
    width: 148px;
    border-radius: 50%;
    
  }
  .card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #101f77;
  
  }
  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  .carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
     box-shadow:  0px 4px 8px rgba(0, 0, 0, 0.1);
  }
 
  h1 {
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    color: #f8fafc;
    

    }
    h1::after {
      content: "";
      display: block;
      width: 6rem;
      height: 0.3rem;
      background-color: rgb(133, 194, 247);
      margin: 0;
      position: absolute;
      border-radius: 10px;
      left: 52%;
     
  }

    .logo{
      position: fixed;
      bottom: 0;
      right: 0 ;
      margin-bottom: 20px;
      margin-right: 20px;
      display: flex;
      height: 100px;
    
    }
