body {
    display: flex;
    justify-content: center;
    background-image: url(../imagenss/imgFundo.png);
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

h1{
    font-size: 40px;
    margin-bottom: 30px;
    margin-top:0;
}

.conteiner{
    text-align: center;  
    height: 635px;
    width: 40%;
    padding: 10px 0 ;
    background-color: #6484ac;
    border-radius: 13px;
    margin-top: 0px;
}

p{
    text-align: left;
    padding-left: 30px;
    font-size: 20px;
}

input {
    height: 15px;
    margin-bottom: 10px;
    padding: 10px;
    width: 90%;
    border: none;
    border-radius: 13px;
}

.but-calcular {
    width: 300px;
    font-size: 30px;
    margin-left: 80px;
    margin-top: 20px;
    padding: 10px 20px; 
    text-align: center;


    background-color: #24548c; 
    color: whitesmoke; 

    border: none; 
    border-radius: 11px; 
    cursor: pointer;
}

.but-calcular:hover{
    color: whitesmoke;
    background-color: #24558cf1;
    opacity: 0.8;
}

a{
    text-decoration: none;
    color: black;
}

#butVol{
    margin-top: 13px;
    cursor: pointer;
    margin-left: 0px;
    font-size: 22px;
    margin-left: 207px;
}