:root{
    --azul-secundario: #263F6B;
    --azul-principal: #213559;
    --azul-Preto: #1F2838;
    --azul-cinza: #9FB1D1;
    --azul-bebe: #A3C5FF;
    --azul-clarinho: #D6E5FF;
}
/* 
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
} */

body{
background-color: red;
}

/* inicio do header */
/* .header {
    background-color: var(--azul-principal);
    color: #fff;
    height: 50%;
    padding: 25px 25px;
    align-items: center;
    display: flex;
    font-size: 18px;
    justify-content: space-between;

}

.nav {
    display: flex;
    column-gap: 90px;
    cursor: pointer;
    align-items: center;
}

.nav li{
    list-style-type: none;
    height: max-content;
}

.nav a{
    color: #ffffff;
    text-decoration: none;
} */


