body {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    background-color: #D9D9D9;
}

.menu-lateral {
    height: 100vh;
    width: 20%;
    background-color: #6685AF;
    text-align: center;
}

.menu-lateral ul {
    list-style: none;
    padding: 0;
}

.menu-lateral ul li img {
    width: 60%;
}

.menu-lateral ul li:hover{
    color: #c2c2c4;
}

.opcoes {
    margin-top: 15%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.sair {
    margin-top: 60%;
}

.sair #btn_sair {
    width: 40%;
    height: 45px;
}

.grafico {
    width: 60vw;
    height: 73.2vh;
    border-radius: 40px;
    background-color: #FFF;
    box-shadow: 12px 8px 25px 2px rgb(165, 165, 165);
    flex-direction: column;
    margin-top: 3.5%;
    padding: 5px;
    text-align: center;
}

.grafico span{
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #6685AF;
}

.graficoAnual {
    width: 60vw;
    height: 73.2vh;
    border-radius: 40px;
    background-color: #FFF;
    box-shadow: 12px 8px 25px 2px rgb(165, 165, 165);
    flex-direction: column;
    margin-top: 2%;
    padding: 5px;
    text-align: center;
    margin-left: 2%;
}

.kpi {
    width: 20vw;
    height: 70vh;
    background-color: #FFF;
    margin: 2%;
    border-radius: 40px;
    box-shadow: 12px 8px 25px 2px rgb(165, 165, 165);
}

.ContainerGraficos {
    padding: 10px;
    display: none;
}

.ContainerGraficosAnual {
    padding: 10px;
}

.BotaoCont{
    display: flex;
    
}

.botaoTroca {
    width: 20%;
    height: 45px;
    display: inline-block;
    background-color:#6685AF;
    color: white;
    border-radius: 40px;
    box-shadow: 2px 2px 0px #000;
    transition: transform 150ms linear;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.botaoTroca:hover{
    transform:scale(1.06);
    background-color: #666baf;
}

.botaoSair{
    width: 20%;
    height: 45px;
    display: inline-block;
    background-color:#ffffff;
    border-radius: 40px;
    box-shadow: 2px 2px 0px #000;
    transition: transform 150ms linear;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.botaoSair:hover{
    transform:scale(1.06);
    background-color: #c2c2c4;
}

.alerta {
    width: 100px;
    height: fit-content;
    font-size: xx-large;
    display: flex;
    text-align: center;
    color: red;
    background-color: yellow;
    border-radius: 10px;
    animation: alertaPiscar 1s infinite;
}

@keyframes alertaPiscar {
    0% {color: red;}
    50% {color: yellow;}
    100% {color: red;}

}

.kpi {
    width: 20vw;
    height: 70vh;
    background-color: #FFF;
    margin: 2%;
    border-radius: 40px;
    box-shadow: 12px 8px 25px 2px rgb(165, 165, 165);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #6685AF;
    padding: 20px;
    
}

.kpi h2 {
    margin-bottom: 20px;
    color:#6685AF;
    
}

.kpi-item1 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 6%;
    border: 2px solid #000;
    color: #6685AF;
    justify-content: space-between;
    text-align: center;
    border-radius: 20px;
    padding: 10%;
}
.kpi-item2 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 6%;
    border: 2px solid #000;
    color: #6685AF;
    justify-content: space-between;
    text-align: center;
    border-radius: 20px;
    padding: 10%;
}
.kpi-item3 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 6%;
    border: 2px solid #000;
    color: #6685AF;
    justify-content: space-between;
    text-align: center;
    border-radius: 20px;
    padding: 10%;
}

.kpi-item span {
    padding: 5px;
}


.menu-lateral {
    height: 100vh;
    width: 20%;
    background-color: #6685AF;
    text-align: center;
}

.menu-lateral ul {
    list-style: none;
    padding: 0;
}

.menu-lateral ul li img {
    width: 60%;
}

.menu-lateral ul li:hover{
    color: #c2c2c4;
}

.opcoes {
    margin-top: 15%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.sair {
    margin-top: 60%;
}

.sair #btn_sair {
    width: 40%;
    height: 45px;
}


.conteudo {
    width: 80%;
    padding: 20px;
}

.historico-opcoes {
    margin-bottom: 20px;
}

.historico-opcoes h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #6685AF;
}

.historico-opcoes ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.historico-opcoes ul li {
    margin-bottom: 10px;
}

.historico-opcoes ul li a {
    text-decoration: none;
    color: #6685AF;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.historico-opcoes ul li a:hover {
    color: #444;
}

.historico {
    display: none;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.historico h2 {
    color: #6685AF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #666;
}