body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #27528B;
}

.Container{
    width: 100%;
    padding-top:  15px;
    display: flex;
    margin-right: 100px;
}

.Header{
    background-color: #24548c;
    height: 100px;
    width:100%;
}

.simulador{
    background-color: #f1c70b;
    height: 35px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TITULO{
    justify-content: center;
    align-items: flex-end;
    display: flex;
}

.TITULO img{
    width: 180px;
    height: 60px;

}
.navbar{
    width: 400px;
    display: flex;
    color: white;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    font-family: 'Lucida Sans';
}

.Header .Container{
    justify-content: space-around;
}

.teste {
position: absolute;
width: 736.71px;
height: 795.95px;
left: -374.84px;
top: -284px;

background: #e7d800;
border-radius: 67px;
transform: rotate(46.17deg);

    }

.contato {
    width: 441px;
    height: 101px;
    left: 47px;
    top: 197px;
    position: absolute;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
}

.duvidas {
    width: 569px;
    height: 165px;
    left: 47px;
    top: 225px;
    position: absolute;
    color: #ffffff;
    font-size: 32px;
    font-family: sans-serif;
    font-weight: 700;
}

.nome {
    width: 74px;
    height: 21px;
    left: 628px;
    top: 150px;
    position: absolute;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
}

.email {
    width: 74px;
    height: 21px;
    left: 628px;
    top: 230px;
    position: absolute;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
}

.telefone {
    height: 21px;
    left: 981px;
    top: 230px;
    position: absolute;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
}

.mensagem {
    width: 152px;
    height: 21px;
    left: 628px;
    top: 320px;
    position: absolute;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
}

.retangulo_nome {
    width: 642px;
    height: 40px;
    left: 620px;
    top: 180px;
    position: absolute;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    font-size: 38px;
}

.retangulo_email {
    position: absolute;
    width: 280px;
    height: 40px;
    left: 620px;
    top: 262px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    font-size: 18px;
}

.retangulo_telefone {
    position: absolute;
    width: 280px;
    height: 40px;
    left: 981px;
    top: 262px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    font-size: 28px;
}

.retangulo_mensagem {
    position: absolute;
    width: 650px;
    height: 242px;
    left: 620px;
    top: 350px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    text-align: justify;
    font-size: 20px;
}

.botao {
    position: absolute;
    width: 150px;
    height: 42px;
    left: 460px;
    top: 550px;
    border-radius: 17px;
    background: #F3D64C;
    color: #27528B;
    font-family: sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.botao :hover {
        background-color: #4d3900;
        border-color: #2c2100;
}

.texto_imagens {
    width: 110px;
    height: 200px;
    left: 114px;
    top: 374px;
    position: absolute
}

.linkedin_img {
    width: 62px;
    height: 61px;
    left: 44px;
    top: 374px;
    position: absolute
}

.email_img {
    width: 54px;
    height: 53px;
    left: 44px;
    top: 456px;
    position: absolute
}

.telefone_img {
    width: 59px;
    height: 58px;
    left: 44px;
    top: 530px;
    position: absolute
}